/* prevent ios bottom bar to pop */
@mixin viewport-bottom {
  @include media-small-max {
    @include touch-device {
      padding-bottom: calc(10vh - var(--size-full));
    }
  }
}

@mixin media-x-small-max {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin media-x-small {
  @media (min-width: 601px) {
    @content;
  }
}

@mixin media-small-max {
  @media (max-width: 991px) {
    @content;
  }
}

@mixin media-small-only {
  @media (min-width: 601px) and (max-width: 991px) {
    @content;
  }
}

@mixin media-medium {
  @media (min-width: 601px) {
    @content;
  }
}

@mixin media-large {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin media-large-max {
  @media (max-width: 1311px) {
    @content;
  }
}

@mixin media-xlarge {
  @media (min-width: 1312px) {
    @content;
  }
}

@mixin media-page-max {
  @media (max-width: 1479px) {
    @content;
  }
}

@mixin media-page {
  @media (min-width: 1480px) {
    @content;
  }
}

@mixin touch-device {
  @media (hover: none) {
    @content;
  }
}

@mixin non-touch-device {
  @media (hover: hover) {
    @content;
  }
}

@mixin only-ios-device {
  @supports (-webkit-touch-callout: none) {
    @content;
  }
}

@mixin without-script {
  #__nuxt[data-server-rendered] {
    @content;
  }
}

@mixin with-script {
  #__nuxt:not([data-server-rendered]) {
    @content;
  }
}

@mixin reset-list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

@mixin accessibly-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

@mixin grid {
  @include main-grid;

  > * {
    grid-column: main;
  }

  > .breakout {
    grid-column: full;
  }

  > .page {
    grid-column: page;
  }
}
