/* Contains mixin and functions, no css */
@import "svg";
@import "mediaqueries";
@import "layout";
@import "animations";

@mixin reset-list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

@mixin accessibly-hidden {
  position: absolute;
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

@mixin grid {
  @include main-grid;

  > * {
    grid-column: main;
  }

  > .breakout {
    grid-column: full;
  }

  > .page {
    grid-column: page;
  }
}
